pkgbase = deno
	pkgdesc = A secure runtime for JavaScript and TypeScript
	pkgver = 1.44.0
	pkgrel = 1
	url = https://deno.land
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = python
	makedepends = rust
	makedepends = nodejs
	makedepends = gn
	makedepends = ninja
	makedepends = clang
	makedepends = lld
	makedepends = cmake
	makedepends = protobuf
	depends = gcc-libs
	options = !lto
	source = git+https://github.com/denoland/deno.git#commit=f3ffffc682604349b96dbe4ad33daa5dd1a09f63
	sha512sums = 012989841a59dd2c4c1dad2da8369ae70779a3ca84e9402222f714a4f818549468e3841b2f6731f4a208fd4345c93a100c71d7fc5d62833b9104233b7cf5d113

pkgname = deno
