pkgbase = deno
	pkgdesc = A secure runtime for JavaScript and TypeScript
	pkgver = 1.41.2
	pkgrel = 2
	url = https://deno.land
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = python
	makedepends = rust
	makedepends = nodejs
	makedepends = gn
	makedepends = ninja
	makedepends = clang
	makedepends = lld
	makedepends = cmake
	makedepends = protobuf
	depends = gcc-libs
	options = !lto
	source = git+https://github.com/denoland/deno.git#commit=6d062cf0c79158a8c0c8a136c945c3eab2af8b50
	sha512sums = SKIP

pkgname = deno
